* {
	box-sizing: border-box;
	color: #000000;
}

html {
	font-size: 13px; /* 1rem - 13px */
}

body {
	margin: 0;
}

a { 
	text-decoration: none;
}

ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}

/** 모바일 상단 */
header {
	padding-top: 58px;
}

/** 모바일 상단 메뉴 */
nav {
	border-bottom: 1px solid #212121;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
}

nav ul li {
	float: left;
	padding: 10px 20px;
}
nav ul:after {
	clear: left;
	content: '';
	display: block;
}

nav ul li a {
	font-size: 1.54rem; /** 약 20px */
}

nav .show_menu {
	font-size: 2rem; /** 26px */
	cursor: pointer; 
}

/** 모바일 사이트 메인 */
main {
	min-height: 1000px;
	background-color: #f8f8f8;
}

/** 모바일 사이드 메뉴 */
aside {
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #ffffff;
	top: 0;
	left: -200px;
	border-right: 1px solid #212121;
	transition: all 1s;
}

aside.on { /** 사이드 메뉴 활성화 */
	left: 0;
}


aside .close_menu {
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	font-size: 1.5rem;
}