@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/** 공통 */
* {
	box-sizing: border-box;
	color: #000000;
	font-family: 'Noto Sans KR', sans-serif;
}

html {
	font-size: 13px; /* 1rem - 13px */
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding:0;
	margin:0;
}

.layout_width {
	width: 1200px;
	margin: 0 auto;
}

/** 사이트 상단 메뉴 */
.site_top {
	height: 30px;
	background-color: #f9f9f9;
	text-align: right;
}

.site_top a {
	font-size: 12px;
	letter-spacing: -0.24px;
	color: #333333;
	padding: 0 10px 0 11px;
	line-height: 30px;
	position:relative;
	display: inline-block;
}

.site_top a:before {
	content: '';
	display: block;
	width: 1px;
	height: 9px;
	background-color: #333333;
	position: absolute;
	top: 11px;
	left: 0;
}

.site_top .first:before {
	display: none;
}



/** 사이트 로고, 검색, 아이콘 메뉴*/
.logo_search .box {
	width: calc(100% / 3);
	float: left;
}
.logo_search .inner:after {
	clear: left;
	content: '';
	display:block;
}

.logo_search .logo {
	text-align: center;
	padding: 46px 0;
}

.logo_search .logo img {
	height: 28px;
}

.logo_search .search {
	padding-top: 40px;
}

.logo_search .search input[type='image'] {
	height: 37px;
	vertical-align: middle;
}

.logo_search .search .form_wrap {
	width: 200px;
	height: 38px;
	border-bottom: 1px solid #222222;
	float: right;
}

.logo_search .search:after {
	clear: right;
	content: '';
	display: block;
}

.logo_search .search input[type='text'] {
	width: calc(100% - 27px);
	border: 0;
	position: relative;
	top: 5px;
}

.logo_search .icon_menu img {
	vertical-align: top;
}

.logo_search .icon_menu a:nth-child(1) img{
	height: 62px;
	position: relative;
	top: 3px;
}

.logo_search .icon_menu a:nth-child(2) img,
.logo_search .icon_menu a:nth-child(3) img{
	height: 68px;
}

.logo_search .icon_menu {
	padding: 26px 0;
}

/* 메인 메뉴 영역 */
nav {
	border-bottom: 1px solid #0000000;
}

nav ul li {
	float: left;
	width: calc((100% - 50px) / 10);
	text-align: center;
}
nav ul:after {
	clear: left;
	content: '';
	display: block;
}

nav li a {
	display: block;
	height: 45px;
	font-size: 16px;
	letter-spacing: -0.32px;
	line-height:45px;
}

nav li i {
	font-size: 1.8rem;
    vertical-align: middle;
	display:block;
	height:45px;
	line-height:45px;
}

nav li i {
	font-size: 1.8rem;
	vertical-align: middle;
	position:relative;
	top: 12px;
	cursor: pointer;
}

nav li.more_menu {
	width: 50px;
	text-align: center;	
}

/** 메인 영역 */
main {
	min-height: 2000px;
}

main .mtit {
	color: #222222;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 25px;
}

main .mtit > span {
	font-weight: 700;
}

main .stit {
	color:#808285;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing:-0.48px;
	text-align: center;
	font-size: 16px;
}

main article .spread_bar {
	width: 40px;
	height: 1px;
	background-color: #030303;
	margin: 20px auto 50px auto;
	transition: width 1s;
}

main article:hover .spread_bar {
	width: 120px;
}


/* 메인 배너 영역 */
.main_banner{
	margin-bottom: 103px;
}

.main_banner .swiper-slide {
	height: 600px;
}

.main_banner .swiper-wrapper .swiper-slide:nth-child(3n+1) {
	background:url("../img/banner1.jpg") no-repeat center center;
}

.main_banner .swiper-wrapper .swiper-slide:nth-child(3n+2) {
	background:url("../img/banner2.jpg") no-repeat center center;
}

.main_banner .swiper-wrapper .swiper-slide:nth-child(3n) {
	background:url("../img/banner3.jpg") no-repeat center center;
}

.main_banner .swiper-pagination-bullet {
	display:inline-block;
	width: 12px;
	height: 12px;
	background-color: #ffffff;
	cursor:pointer;
	border-radius:50%;
	opacity:0.9;
	box-shadow: 0px 2px 4px #212121;
}

.main_banner .swiper-pagination-bullet-active {
	width: 50px;
	border-radius: 6px;
}

.main_banner .navi {
	position: absolute;
	font-size: 30px;
	top: calc(600px / 2 - 15px);
	z-index: 10;
	cursor: pointer;
}

.main_banner .navi.prev {
	left: 10px;
}

.main_banner .navi.next {
	right: 10px;
}

/** Welcome to Cozyshop */
.main_sbanner {
	margin-bottom: 103px;
}

.main_sbanner .tit {
	color: #313131;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 38px;
}

.main_sbanner .tit > span {
	font-weight: 700;
}

.main_sbanner .banner_grp .banner {
	float: left;
	width: calc(100% / 3 - 10px);
	margin-left: 15px;
}

.main_sbanner .banner_grp .banner:first-child {
	margin-left: 0;
}


.main_sbanner .banner_grp:after {
	clear: left;
	content: '';
	display: block;
}

.main_sbanner .text1 {
	color: #313131;
	font-size: 18px;
	letter-spacing: -1.08px;
	text-align: center;
	margin-top:15px;
}

.main_sbanner .text2 {
	font-weight: 300;
	color: #313131;
	font-size: 14px;
	letter-spacing: -0.84px;
	text-align: center;
}

.main_sbanner .banner img {
	display: block;
	width: 100%;
}


/* 상품 진열 영역 */
.goods_list {
	margin-bottom: 103px;
}

.goods_list .goods .image {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

.goods_list .goods .goods_nm {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.5px;
	padding: 5px 0 10px;
	overflow: hidden;
	word-break: break-all;
	line-height: 20px;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 10px;
}

.goods_list .goods .short_desc {
	color: #777777;
	font-size: 13px;
	letter-spacing: -0.5px;
	word-break: break-all;
	margin-bottom: 8px;
}

.goods_list .goods .consumer {
	color: #acacac;
	font-size: 14px;
	letter-spacing: -1.5px;
	font-family: Verdana;
	padding-right: 15px;
}

.goods_list .goods .price {
	font-size: 18px;
	letter-spacing: -0.8px;
	font-weight: 600;
	font-family: Verdana;
}

.goods_list ul .goods {
	float: left;
	width: calc(100% / 4 - 30px);
	margin-left: 40px;
	margin-bottom: 40px;
}

.goods_list ul:after {
	clear: left;
	content: '';
	display: block;
}

.goods_list ul .goods:nth-child(4n+1) {
	margin-left: 0;
}

/** 상품 소개 배너 */
.main_intro_banner {
	background:url("../img/intro_banner.jpg") no-repeat right center;
	margin-bottom:103px;
}

.main_intro_banner .box {
	float: left;
	height: 450px;
}

.main_intro_banner .goods_desc {
	width: 500px;
	background-color: #ffffff;
}

.main_intro_banner .banner {
	width: calc(100% - 500px);
}

.main_intro_banner > .inner:after {
	clear: left;
	content: '';
	display: block;
}

.main_intro_banner .text1 {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -1.44px;
	margin-top: 15px;
}

.main_intro_banner .text2 {
	margin: 45px 0 50px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -0.36px;
}

.main_intro_banner .view_more {
	width: 100px;
	height: 37px;
	display: block;
	border: 1px solid #333333;
	color: #333333;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
}

.main_intro_banner .view_more:hover {
	background-color: #333333;
	color: #ffffff;
}

/** TV & MOVIE */
.tv_movie .swiper-container {
	height: 525px;
}

.tv_movie .swiper-slide {
	width: 380px !important;
	height: 525px;
	overflow: hidden;
}

.tv_movie .swiper-slide img {
	width: 100%;
	display: block;
}

.tv_movie .navi {
	position: absolute;
	font-size: 31px;
	top: 247px;
	z-index: 10;
	color: #d5d5d5;
	cursor: pointer;	
}

.tv_movie .navi.prev {
	left: calc(50% - 600px);
}

.tv_movie .navi.next {
	right: calc(50% - 600px);
}


/** footer 영역 */
footer{
	margin-top: 103px;
	background-color:#f9fafa;
	min-height: 300px;
}

footer .customer_service_info {
	background-color:#ffffff;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	padding: 20px 0;
}

footer .customer_service_info > .info {
	display: table;
	vertical-align: middle;
}

footer .customer_service_info .box {
	display: table-cell;
}

footer .customer_service_info .box1{
	width:195px;
}

footer .customer_service_info .box4{
	width:250px;
}

footer .customer_service_info .text1{
	font-size: 16px;
	font-weight:bold;
	font-family: Verdana;
	letter-spacing: -2px;
}

footer .customer_service_info .text2 {
	font-size: 30px;
	font-weight: bold;
	font-family: Verdana;
	letter-spacing: -3px;
}

footer .customer_service_info .box4 .text2 {
	font-size: 20px;
}

footer .customer_service_info .btn {
	display: block;
	width: 89px;
	height: 19px;
	text-align: center;
	border: 1px solid #58595b;
	color: #58595b;
	font-size: 12px;
	letter-spacing: -1px;
	line-height: 17px;
}

footer .customer_service_info .btn:hover {
	background-color: #58585b;
	color: #ffffff;
}

footer .customer_service_info .box3 .btn:first-child {
	margin-bottom: 3px;
}

footer .customer_service_info .text3 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -1px;
}

footer .customer_service_info .text4 {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -1px;
}

footer .customer_service_info .text5 {
	letter-spacing: -1px;
}

footer .customer_service_info .box4 {
	padding-left: 0 10px 0 25px;
}

/** 하단 사이트 안내 & 공지사항 */
footer .site_guide {
	padding: 20px 0 17px;
}

footer .site_guide .site_map {
	float:left;
	width: calc(100% - 339px);
}

footer .site_guide .notice_box {
	float: right;
	width: 330px;
	border: 1px solid #ced0d1;
	background-color: #ffffff;
	padding: 15px;
}

footer .site_guide:after {
	clear: both;
	content: '';
	display: block;
}

footer .notice_box .post_tit {
	text-align: right;
	font-size: 21px;
	font-weight: bold;
	padding: 0 6px 5px 0;
	border-bottom: 1px dashed #c4c4c4;
	margin-bottom: 20px;
	letter-spacing: -1px;
	position: relative;
}

footer .notice_box .more {
	position: absolute;
	left: 6px;
	top:0;
	font-size: 11px;
	font-weight: normal;
	display: block;
	width: 46px;
	height: 20px;
	border: 1px solid #58595b;
	color:#0c0c0c;
	text-align: center;
	line-height: 18px;	
}

footer .notice_box .more:hover {
	border-color: #0c0c0c;
	background-color: #0c0c0c;
	color: #ffffff;
}

footer .notice_box ul a {
	display: block;
	color: #8e9499;
	font-size: 12px;
	text-indent: 10px;
	line-height: 1.8;
	white-space:nowrap;
	width: 298px;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer .notice_box ul a:hover {
	text-decoration: underline;
}

/** 하단 사이트 맵 */
.site_guide .site_map {
	margin-left:9px;
}

.site_guide .site_map .box{
	float: left;
	width: calc((100% - 380px) / 3);
}

.site_guide .site_map .box4 {
	width: 330px;
}

.site_guide .site_map:after {
	clear: left;
	content: '';
	display: block;
}

.site_guide .site_map .tit{
	font-size: 13px;
	font-weight: bold;
	color: #404040;
	margin-bottom: 23px;
}

.site_guide .site_map ul a {
	font-size: 12px;
	color: #969696;
}

.site_guide .site_map dl {
	margin:0;
	margin-bottom: 5px;
	padding:0;
	display:table;
}

.site_guide .site_map dt,
.site_guide .site_map dd {
	display: table-cell;
	font-size: 12px;
	color: #333333;
}

/** 하단 회사 정보 */
footer .company_info {
	border-top: 1px solid #d1d3d4;
	padding: 22px 9px;
	font-size: 12px;
	color: #969696;
	line-height: 1.8;
}

footer .company_info strong,
footer .company_info .copyright {
	color: #969696;
}

footer .company_info .copyright {
	text-align: right;
}

/** 카카오 상담하기 버튼 */
footer .kakao_btn {
	width: 60px;
	position: fixed;
	right: 100px;
	bottom: 100px;
	z-index: 5;
	cursor: pointer;
}